<p id="notice"><%= notice %></p>

<div class="header">
	<% if @user == current_user %>
		<h1>My Boards!</h1>
	<% else %>
		<h1><%= "#{@user.first_name}'s Boards" %></h1>
	<% end %>
</div>

<%= render partial: "shared/boards_list" %>