a {
  color: #dd5566;
}
h1 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  color: #dd5566;
}
.pin-container{
  padding: 10px;
}
.pin {
  padding: 40px;
  min-height: 343px;
  background-color: #fff;
  border: 1px solid #efefef;
}
.show-pin{
  background-color: #fff;
  padding: 40px;  
}
hr{
  clear:both;
}
body {
	background: url(asset-path('laptop-background.jpg')) no-repeat;
	background-size: 100%;
}
.form-image {
	margin-bottom: 30px;
}
.form-control {
	margin-bottom: 30px;
}
.form-group {
	margin-top: 60px;
}
.error {
	margin-top: 20px;
	color: red;
}
.logo-thumbnail {
	margin: 20px;
}
.center {
	margin: -20px;
	font-family: 'Lobster', cursive;
	font-size: 25px;
	color: #dd5566;
}
a.board_cell_link:hover {
	color: #dd5566;

}